<div class="about-us">
  <div class="container other-pages-background">
    <div class="row">
      <div class="col-md mt-3">
        <h2 class="text-center">About Car Sales</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row my-4">
      <div class="col-md-4">
        <p>
          We’ve made it our mission to make sure every one of our customers receives the care and
          assistance they deserve when looking to buy a new vehicle. We want to help you find the perfect vehicle for
          the perfect price, and we understand that it’s hard to settle for anything else when you’ve found exactly what
          you want. From sales and financing to maintenance and parts, you can turn to our team of professionals to
          provide you with the dedicated care you need!

        </p>
      </div>
      <div class="col-md-8">
             <Map
                      @lat="35.09810"
                      @lng="-106.6"
                      @zoom="11.5"
                      @width="650"
                      @height="500"
                      alt="A map of our Albuquerque location."
              />
      </div>
    </div>
  </div>
</div>